* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar {
  display: flex;
  justify-content: right;
  background-color: hsl(0, 0%, 8%);
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: rgba(26, 25, 25, 0.87);
  border-radius: 10px;
}

.navbar li {
  float: inline-start;
}

/* HEADER RESPONSIVENESS */
@media (max-width: 768px) {
  .navbar {
    justify-content: center;
    height: 60px;
  }
  .navbar ul {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: auto;
    min-height: 60px;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .navbar ul {
    padding: 5px 8px;
  }

  .navbar a {
    font-size: 14px;
  }
}

/* hero section */
.hero {
  background-image: url(./assets/background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

section .overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(0, 0, 0, 0.5);
}

.overlay .hero-content h1 {
  color: whitesmoke;
  font-size: 34px;
  margin-bottom: 12px;
}

.overlay .hero-content p {
  color: bisque;
  font-size: 15px;
}

.overlay .hero-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: orange;
}

.overlay .hero-content button:hover {
  background-color: green;
  color: aliceblue;
  cursor: progress;
}

@media (max-width: 768px) {
  .hero {
    height: 80vh;
  }

  .hero-content {
    width: 90%;
    min-width: 0;
  }
  .hero-content h1 {
    font-size: 32px;
  }
  .hero-content p {
    font-size: 18px;
  }
  .hero-content button {
    padding: 12px 28px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 75vh;
  }
  .hero-content {
    width: 90%;
    min-width: 0;
  }
  .hero-content h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .hero-content p {
    font-size: 16px;
    line-height: 1.5;
  }
  .hero-content button {
    padding: 10px 22px;
    font-size: 15px;
  }
}

/* ABOUT SECTION */
.about {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: #f5f5f5;
}

/* left side of the about section */
.about-text {
  width: 50%;
  flex: 1;
}

.about-text h3 {
  color: blue;
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.about-text h2 {
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

.about-text p {
  color: hsl(0, 0%, 30%);
  font-size: 19px;
  line-height: 1.3;
}

.about-text ul {
  list-style-type: none;
  margin-bottom: 30px;
}

.about-text .btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: blue;
  color: white;
}

.about-text a {
  text-decoration: none;
  color: white;
}

.about-text .btn:hover {
  background-color: hsl(240, 100%, 70%);
  color: aliceblue;
  cursor: progress;
}

.about-image {
  flex: 1;
  width: 50%;
}

/* ABOUT RESPONSIVESNES */

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 60px 7%;
    gap: 35px;
  }
  .about-text {
    width: 100%;
  }
  .about-text h2 {
    font-size: 36px;
  }
  .about-text p {
    font-size: 17px;
  }
  .about-image {
    width: 100%;
  }
  .about-text .btn {
    padding: 12px 25px;
  }
}

@media (max-width: 480px) {
  .about {
    flex-direction: column;
    padding: 50px 6%;
    gap: 20px;
  }
  .about-text {
    width: 100%;
  }
  .about-text h2 {
    font-size: 25px;
  }
  .about-text p {
    font-size: 14px;
  }
  .about-image {
    width: 100%;
  }
  .about-text .btn {
    padding: 10px 20px;
  }
}
/* Testimony Section */
.testimonials {
  padding: 80px 7.3%;
  text-align: center;
  background-color: #f5f5f5;
}

.testimonials h4 {
  color: blue;
  margin-bottom: 12px;
  letter-spacing: 2px;
}

.testimonials h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

/* FLEXBOX */
.testimonials-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* Card */
.testimonials-container .card {
  flex: 1;
  background-color: white;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.testimonials-container .card:hover {
  transform: scale(1.02);
  box-shadow: 0.15px 15px 35px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.testimonials-container .card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  padding-bottom: 10px;
}

.testimonials-container .card h3 {
  margin-bottom: 15px;
}

.testimonials-container .card p {
  text-align: left;
  color: #555;
  line-height: 1.3;
}

/* TESTIMONIAL RESPONSIVENESS */
@media (max-width: 768px) {
  .testimonials {
    padding: 60px 6%;
  }

  .testimonials h2 {
    font-size: 32px;
    margin-bottom: 35px;
  }
  .testimonials-container {
    flex-direction: column;
    gap: 25px;
  }
  .testimonials-container .card {
    width: 100%;
    box-sizing: border-box;
  }
  .testimonials-container .card img {
    height: 390px;
  }
}

@media (max-width: 480px) {
  .testimonials {
    padding: 50px 5%;
  }
  .testimonials h4 {
    font-size: 14px;
  }

  .testimonials h2 {
    font-size: 27px;
    margin-bottom: 30px;
  }
  .testimonials-container {
    gap: 20px;
  }
  .testimonials-container .card {
    padding: 20px;
  }
  .testimonials-container .card img {
    height: 350px;
  }
  .testimonials-container .card h3 {
    font-size: 20px;
  }
  .testimonials-container .card p {
    font-size: 15px;
  }
}

/* CALL TO ACTION */
.cta {
  padding: 80px 10%;
  background-color: #007bff;
  text-align: center;
  color: #fff;
}

/* CONTENT */
.cta-content {
  max-width: 700px;
  margin: auto;
}

.cta-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cta-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* BUTTON */
.cta-content .cta-button {
  display: inline-block;
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.3s;
}

/*  HOVER */
.cta-content .cta-button:hover {
  background-color: #222;
  color: #fff;
}

/* CTA RESPONSIVENESS */
@media (max-width: 768px) {
  .cta {
    padding: 60px 8%;
  }
  .cta-content h2 {
    font-size: 32px;
  }
  .cta-content p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .cta {
    padding: 50px 6%;
  }
  .cta-content h2 {
    font-size: 25px;
    line-height: 1.3;
  }
  .cta-content p {
    font-size: 16px;
    line-height: 1.5;
  }
  .cta-content .cta-button {
    padding: 12px 22px;
    font-size: 14px;
  }
}

/* FOOTER*/
.footer {
  background-color: #111;
  color: white;
  padding: 60px 10% 20px;
}

/* FOOTER CONTAINER */
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* FOOTER BOX */
.footer-box {
  flex: 1;
}

.footer-box h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-box h3 {
  margin-bottom: 20px;
}

.footer-box p {
  color: #ccc;
  line-height: 1.7;
}

/* FOOTER LINKS */

.footer-box a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 12px;
}

.footer-box a:hover {
  color: white;
}

/* COPYRIGHT */

.copyright {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
}
.copyright p {
  color: #aaa;
  font-size: 14px;
}

/* FOOTER RESPONSIVENESS */
@media (max-width: 768px) {
  .footer {
    padding: 50px 7% 20px;
  }
  .footer-container {
    flex-direction: column;
    gap: 35px;
  }
  .footer-box {
    width: 100%;
  }
  .footer-box h2 {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 40px 6% 20px;
  }
  .footer-container {
    gap: 25px;
  }
  .footer-box {
    width: 100%;
  }
  .footer-box h2 {
    font-size: 23px;
  }
  .footer-box h3 {
    font-size: 18px;
  }
  .footer-box p,
  .footer-box a {
    font-size: 14px;
  }
  .copyright {
    margin-top: 30px;
  }
  .copyright p {
    font-size: 12px;
  }
}
